.btn {
  padding: 0.1rem 0.2rem;
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 300px;
}

.btn:hover {
  background-color: black;
  color: #facc15;
}

.btn:active {
  transform: scale(0.9);
}
